<ul>
  <li class="active">{{user.username}}</li>
</ul>
<div class="course">
  <div class="box">
    <h3><a href="/post/{{id}}"></a>{{title}}</h3>
    <p>
      {{post_content}}
    </p>
    <div class="text">
      <div class="b-tags">
        <b>{{user.username}}</b>|<b href="">github</b>|<b
          href=""
        >12/27/2022</b>|<b href="/post{{id}}">
          comments{{comment.length}}</b>
      </div>
    </div>
    <div>
      <button class="startButton">Add a Comment</button>

    </div>
    <i class="fa fa-crow"></i>
  </div>
</div>