<div class="body">
  <aside class="container-post">
    <nav>
      <ul>
        <li>
          <a href="#" class="logo">
           <span class="div"></span><span class="nav-item">
              Your Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#" class="table">
            <i class="fas fa-house" ></i><span class="nav-item">Home</span>
          </a>
        </li>
        <li>
          <a href="" class="table">
            <i class="fas fa-user"></i><span
              class="nav-item"
            >{{username}}</span></a>
        </li>
        <li>
          <a href="#" class="table">
            <i class="fas fa-feather"></i><span class="nav-item">{{first_name}}
              {{last_name}}</span></a>
        </li>
        <li>
          <a href="#"   class="table" onclick="openPopupFollowers()">
            <i class="fas fa-plane-departure"></i><span
              class="nav-item"
            >Followers</span></a>
        </li>
    
        <li>
          <a href="#" class="table" onclick="openFollowing()">
            <i class="fas fa-plane-arrival"></i><span
              class="nav-item"
            >Following</span></a>
        </li>
        
        <li>
          <a href="#" class="logout1 " id="LogOut">
            <i class="fas fa-sign-out-alt"></i><span
              class="nav-item"
            >logout</span></a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="container-main">
    <div class="main">
      <div class="main-top">
        <h2>New Posts</h2>
        <i class="fas fa-check-to-slot"></i>
      </div>
      <div class="main-skills">
        <div class="card">
          <form>
            <i class="fas fa-kiwi-bird h3"></i>
            <h3 for="post-content">Add a new post</h3>

            <button type="submit"><a
                href="/dashboard/create"
                style=" color:black;  text-decoration: none;"
              >
                Create Post</a></button>
          </form>
        </div>
      </div>
    </div>
 <div class="main-course">
  <h1>Recent Post</h1>

{{#if posts.length}}

{{#each posts as |post|}}

<div class="course-box">
  {{> post-info post}}
  <a>{{user.username}}</a>|<a href="">github</a>|<a
          href=""
        >12/27/2022</a>|<a href="dashboard/post/{{post.id}}">{{post.comments.length}} comments</a>
  <div style="text-align: right; border: 0;">
    
 <button class="startButton1" >
          <a
            href="/dashboard/edit/{{post.id}}"
            style="text-decoration: none; color:white;"
          >Edit Post</a></button>
          </div>
</div>
{{/each}}

{{else}}

<h3>Yo do not currently have any posts</h3>
{{/if}}
</div>
  </div>
</div>



<script src="/js/logout1.js"></script>